.popup__overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 1;
}
.popup__overlay:after {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: "";
  z-index: 1;
}

.popup {
  min-height: 70%;
  line-height: 1;
  font-size: 14px;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 20px;
  background: #0f2931;
  vertical-align: middle;
  z-index: 1;
}

.popup-form__row {
  margin: 1em 0;
}
.popup__close {
  background: url(img/cross-mark.png);
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 50px;
  cursor: pointer;
  align-items: center;
}

.popup__close:hover {
  background: url(img/cross-mark.png);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.popup_button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 100%;
  margin-left: -104.5px;
  z-index: 1;
  cursor: pointer;
  width: 70px;
}

/* .popup_button:hover {
  
} */

/*
==============================================
slideLeft
==============================================
*/

.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(-8%);
  }
  65% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(-4%);
  }
  95% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50% {
    -webkit-transform: translateX(-8%);
  }
  65% {
    -webkit-transform: translateX(4%);
  }
  80% {
    -webkit-transform: translateX(-4%);
  }
  95% {
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
