* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container {
  max-width: 900px;
  border-radius: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

.icons {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.education {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  margin: 1px;
  align-items: center;
  font-family: "Pangolin";
  margin-left: 30px;
}

.hobbies {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  margin: 1px;
  align-items: center;
  font-family: "Pangolin";
  margin-left: 15px;
}

.work {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  margin: 1px;
  align-items: center;
  font-family: "Pangolin";
  margin-left: 30px;
}

.favorites {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  margin: 1px;
  align-items: center;
  font-family: "Pangolin";
}

td {
  font-family: "Pangolin";
  padding: 5px 10px;
}
th {
  padding: 5px 10px;
}
.table1 {
  width: 100%;
  border-collapse: collapse;
}

.qualities {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  margin: 1px;
  align-items: center;
  font-family: "Pangolin";
  margin-left: 15px;
}

.skills {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  margin: 1px;
  align-items: center;
  font-family: "Pangolin";
  margin-left: 15px;
}

a {
  border-radius: 50%;
}

.top {
  display: flex;
}

.mainPhoto {
  max-width: 150px;
  border-radius: 28px;
}

@media (max-width: 650px) {
  .top {
    display: block;
    text-align: center;
  }
}

.aboutMe {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  margin: 1px;
  align-items: center;
  font-family: "Pangolin";
  padding-left: 20px;
}

/* .lang {
    width: 35px;
    position:relative;
} */

h1 {
  font-family: "Philosopher";
}

h3 {
  font-family: "Philosopher";
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.png {
  max-width: 100%;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.2s;
}

@media (max-width: 500px) {
  .png {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (max-width: 700px) {
  .png {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.png:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@font-face {
  font-family: "Slabo 27px";
  src: url("../fonts/Slabo27px-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Pangolin";
  src: url("../fonts/Pangolin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.theme {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(39, 38, 40, 0.4);
  align-self: flex-start;
}

.buttons {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.theme svg {
  cursor: pointer;
}

.changeTheme {
  width: 15px;
  height: 15px;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 20px;
  border-radius: 10px;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  /* letter-spacing: 3px; */
  font-weight: 600;
  transition: 0.2s;
  text-align: center;
  border-style: none;
}
.floating-button:hover {
  transform: translateY(-3px);
}
